<h2>Estadísticas del Quiz de Preguntas</h2><p><br />

<table style="margin: 0px auto"; border="3">
<tr>
	<td align='right'>Total preguntas: </td>
	<td class="ResaltaAzul"><%= preguntasQuiz %></td>
</tr>
<tr>
	<td align="right">Total comentarios: </td>
	<td class="ResaltaAzul"><%= comentariosQuiz %></td>
</tr>
<tr>
 	<td align="right">Media de comentarios por pregunta: </td>
 	<td class="ResaltaAzul"><%= mediaComentariosQuiz %></td>
</tr>
<tr>
	<td align="right">Preguntas sin comentarios: </td>
	<td class="ResaltaAzul"><%= sinComentariosQuiz %></td>
</tr>
<tr>
	<td align="right">Preguntas con comentarios: </td>
	<td class="ResaltaAzul"><%= conComentariosQuiz %></td>
</tr>
</table>